<!DOCTYPE html>
<html ng-app="aTodoList">
<head>
	<title>DSD Sandbox</title>

	<meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/learn_angular.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/ng-template" src="./partials/main.html"></script>
  <script type="text/ng-template" src="./partials/todo.html"></script>
  <script type="text/ng-template" src="./partials/third.html"></script>
  <script src="js/learn_angular.js"></script>

</head>
<body ng-controller="MainCtrl">
<div class="container">
  <div id="task-wrapper">
    <!--<div class="container">-->

      <nav class="nav navbar-default">
        <!-- BEGIN COLLAPSED NAVBAR -->
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a href="/#!" class="navbar-brand">./design</a>
          </div>
        <!-- END COLLAPSED NAVBAR -->

        <!-- BEGIN EXPANDED NAVBAR -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="home-li"><a ng-click="setRoute('/')">Home</a></li>
              <li id="todo-li"><a ng-click="setRoute('todo')">Todo List</a></li>
              <li id="third-li"><a ng-click="setRoute('third')">A Third Item</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" name="search" class="form-control-custom" placeholder="Search Tasks...">
              </div>
            </form>
          </div>
        </div>
        <!-- END EXPANDED NAVBAR -->
      </nav>

      <div id="view" ng-view></div>
    <!--</div>-->
  </div>

      <footer>
        <div class="footer-container">
          <div id="footer">
            <span id="social">
              <i class="fa fa-google-plus"></i> &nbsp;| &nbsp;
              <i class="fa fa-twitter"></i> &nbsp;| &nbsp;
              <i class="fa fa-facebook"></i>
            </span>

            <i class="fa fa-angle-double-up"></i>

            <span id="date"></span>

            <div id="footer-info" class="row">
              <div class="wrapper">
                <div class="col-lg-4">
                  <strong><em>Other Sections</em></strong>
                  <hr width="60%">
                  <ul class="footer-list">
                    <li>Link to Section 1</li>
                    <li>Link to Section 2</li>
                    <li>Link to Section 3</li>
                  </ul>
                </div>

                <div class="col-lg-4">
                  <strong><em>Legal Stuff</em></strong>
                  <hr width="60%">
                  <ul class="footer-list">
                    <li>Legal info 1</li>
                    <li>Legal info 2</li>
                    <li>Legal info 3</li>
                    <li>Legal info 4</li>
                    <li>Legal info 5</li>
                  </ul>
                </div>

                <div class="col-lg-4">
                  <strong><em>Copyright Info</em></strong>
                  <hr width="60%">
                  &copy; 2016 DotSlashDesign.
                </div>
            </div>
          </div>
        </div>
      </footer>
</div>
</body>
</html>
